<?xml version="1.0" encoding="utf-8"?>
<Media Key="641bbca2-9b7a-4608-a6db-b0b82772b4b3" Alias="About Bg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutBg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-10T23:31:24</CreateDate>
    <NodeName Default="About Bg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/us4bwzd0/about-bg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>