<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="47d1df0c-4c39-4abc-a305-9cf8bb102dd2" Alias="accordionRow" Level="4">
  <Info>
    <Name>Accordion Row</Name>
    <Icon>icon-ordered-list color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="126234ee-1b45-439d-b545-39f9d4945012">descriptionProperty</Composition>
      <Composition Key="2b3db187-b2dd-430c-9035-c62c463c2a41">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fdb0aa88-812f-42ad-b35f-5f14386db78b</Key>
      <Name>Accordion Items</Name>
      <Alias>accordionItems</Alias>
      <Definition>667b7fe4-3435-42db-8f3b-95953f9fb92e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>519de6cb-14a6-4659-bf84-01c8ecc4585f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>