<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9b1d7d12-f4b8-4ad6-a1b0-8efadcb05d0e" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="32e370d9-06d2-4d1d-b242-eccb53e4be4c">contentProperties</Composition>
      <Composition Key="b78ee385-8d9e-40b4-a777-bd3dfe9fc1e5">headerProperties</Composition>
      <Composition Key="d1631a60-48bf-4dff-b3fd-b6f0c2e9d326">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="55406906-70bf-4dd3-b9f0-c0bb5b592a4c">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>