<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bae7814f-17fd-4757-9995-70182f622a16" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-old-phone color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="32e370d9-06d2-4d1d-b242-eccb53e4be4c">contentProperties</Composition>
      <Composition Key="b78ee385-8d9e-40b4-a777-bd3dfe9fc1e5">headerProperties</Composition>
      <Composition Key="d1631a60-48bf-4dff-b3fd-b6f0c2e9d326">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="04d53b97-cadb-4a3b-983a-ec7b2f093ef7">ContactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>