<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3c6384c0-f692-498b-b2ed-091b422bae28" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="48b3d0d3-02fe-4109-b566-ea7f3c1202e8">footerProprties</Composition>
      <Composition Key="b78ee385-8d9e-40b4-a777-bd3dfe9fc1e5">headerProperties</Composition>
      <Composition Key="37d204fb-459e-46cc-b7f3-2644b04e268f">mainNavigationLinks</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c977ae47-c6ac-499b-b19c-fc4806b4e93c">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9b1d7d12-f4b8-4ad6-a1b0-8efadcb05d0e" SortOrder="0">contentPage</ContentType>
    <ContentType Key="bae7814f-17fd-4757-9995-70182f622a16" SortOrder="1">contactPage</ContentType>
    <ContentType Key="596e3e19-456b-4466-8daf-c3dabb8f7996" SortOrder="2">articleListPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>