<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="37d204fb-459e-46cc-b7f3-2644b04e268f" Alias="mainNavigationLinks" Level="2">
  <Info>
    <Name>Main Navigation Links</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>09c6b944-6c35-4b25-b59f-b9be9d9f5edb</Key>
      <Name>Navigation Item</Name>
      <Alias>navigationItem</Alias>
      <Definition>e18fd6b3-a9f7-4dbb-a47e-8e66528afa13</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mainNavigationLinks/contentGroup">Content Group</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>358e21bb-cc11-4afc-978f-0422f1f59fbc</Key>
      <Caption>Content Group</Caption>
      <Alias>mainNavigationLinks/contentGroup</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e467ddb6-dee1-4a73-8c71-07e57d88d0d6</Key>
      <Caption>Main Navigation Links</Caption>
      <Alias>mainNavigationLinks</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>