<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7148db73-12b8-4644-ba13-7d6c9b98c924" Alias="someContent" Level="2">
  <Info>
    <Name>someContent</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="126234ee-1b45-439d-b545-39f9d4945012">descriptionProperty</Composition>
      <Composition Key="70127e96-2b4e-4c3f-abb1-5bae8562adc6">imageProperty</Composition>
      <Composition Key="da7ccb6e-c2fd-4ef4-b359-ad52a4ddbb08">linkProperty</Composition>
      <Composition Key="2b3db187-b2dd-430c-9035-c62c463c2a41">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>