<?xml version="1.0" encoding="utf-8"?>
<DataType Key="667b7fe4-3435-42db-8f3b-95953f9fb92e" Alias="[BlockList] Accordion List" Level="1">
  <Info>
    <Name>[BlockList] Accordion List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "13117c08-cc72-4c3b-8d40-6e33148ed344",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title != '' ? title : 'Accordion Item ' + $index}} {{$settings.hide == '1' ? '[Hidden]': ''}}",
      "settingsElementTypeKey": "387fef72-65a8-4be8-a210-3ae1c0315c88",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>