<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a53b9b9d-fcc2-4c3b-b094-c2290a00f8e0" Alias="[BlockList] Image Links" Level="1">
  <Info>
    <Name>[BlockList] Image Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "1e80aa02-fc98-4f3d-9230-b3702f53af6b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title != '' ? title : 'Image Link ' + $index}} {{$settings.hide == '1' ? '[Hidden]': ''}}",
      "settingsElementTypeKey": "6ada978d-c84a-4f88-8ca9-5406c8a983e6",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>