<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb27e021-0093-4c76-8652-0154c2dc5bd0" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "7ede4d28-2f3e-4a9f-89d1-eb452af73b2d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{'Rich Text' + $index}} {{$settings.hide == '1' ? '[HIDDEN]': ''}}",
      "settingsElementTypeKey": "82870f88-0240-4670-bf41-d664e6829831",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a8e0698b-5a68-4297-9070-d4854355e8e9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{'Image' + $index }} {{$settings.hide == '1' ? '[HIDDEN]': ''}}",
      "settingsElementTypeKey": "5cf2eb0f-f8b3-400c-b7a3-9b87c6b23185",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "51d05a16-b490-462d-b7c9-5f03d061b9af",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title != '' ? title : 'Featured Items ' + $index}} {{$settings.hide == '1' ? '[Hidden]': ''}}",
      "settingsElementTypeKey": "eafac4f8-e131-4d91-aceb-0677fcb1b9f2",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "47d1df0c-4c39-4abc-a305-9cf8bb102dd2",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title != '' ? title : 'Accordion' + $index}} {{$settings.hide == '1' ? '[Hidden]': ''}}",
      "settingsElementTypeKey": "537f9fff-27ee-4722-9811-dbd948e272bf",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>