<?xml version="1.0" encoding="utf-8"?>
<DataType Key="69978a99-f5f9-4de0-9f16-72b8b472c70c" Alias="[Dropdown] Colours" Level="1">
  <Info>
    <Name>[Dropdown] Colours</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Red"
    },
    {
      "id": 2,
      "value": "Black"
    },
    {
      "id": 3,
      "value": "White"
    },
    {
      "id": 4,
      "value": "Green"
    },
    {
      "id": 5,
      "value": "Blue"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>