<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ccdf838-6bda-4f9a-b0b4-d4c9ee66c452" Alias="NavigationItem - Link - SingleURL Picker" Level="1">
  <Info>
    <Name>NavigationItem - Link - SingleURL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>