<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f10ce82-30ac-44aa-ad31-7d35e2be0238" Alias="Quote Row - Quote Text - Rich Text Editor" Level="1">
  <Info>
    <Name>Quote Row - Quote Text - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>