<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8abc51db-eb5f-4cb4-8b1b-fae6c6141462" Alias="Footer.CopyrightTitle" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="ar">حقوق الإسراء</Translation>
    <Translation Language="en-US">Copyright Israa</Translation>
  </Translations>
</Dictionary>