<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bcd611e-0013-406e-9763-6b05f6d5f406" Alias="1984 (3)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/</Path>
    <Trashed Parent="75058b09-b4d5-4f83-8421-48e33fbbc594">true</Trashed>
    <ContentType>someContent</ContentType>
    <CreateDate>2023-07-02T04:15:43</CreateDate>
    <NodeName Default="1984 (3)" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[1984]]></Value>
    </description>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <link>
      <Value><![CDATA[]]></Value>
    </link>
    <title>
      <Value><![CDATA[1984]]></Value>
    </title>
  </Properties>
</Content>