<?xml version="1.0" encoding="utf-8"?>
<Content Key="63dde8e7-08ef-4b22-a59c-07bc39473647" Alias="1984" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/</Path>
    <Trashed Parent="75058b09-b4d5-4f83-8421-48e33fbbc594">true</Trashed>
    <ContentType>someContent</ContentType>
    <CreateDate>2023-07-01T17:38:57</CreateDate>
    <NodeName Default="1984" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule>
      <ContentSchedule>
        <Culture></Culture>
        <Action>Release</Action>
        <Date>1949-06-08T00:00:00</Date>
      </ContentSchedule>
    </Schedule>
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[1984]]></Value>
    </description>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <link>
      <Value><![CDATA[]]></Value>
    </link>
    <title>
      <Value><![CDATA[1984]]></Value>
    </title>
  </Properties>
</Content>