<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e6d32a4-da67-4cd5-95bf-84e827b5049d" Alias="About Us" Level="2">
  <Info>
    <Parent Key="75058b09-b4d5-4f83-8421-48e33fbbc594">Home</Parent>
    <Path>/Home/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-07-10T23:27:39</CreateDate>
    <NodeName Default="About Us">
      <Name Culture="ar">من نحن</Name>
      <Name Culture="en-us">About Us</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="55406906-70bf-4dd3-b9f0-c0bb5b592a4c">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="ar"><![CDATA[<p style="text-align: center;"><em><strong>مرحباً بك في الإسراء</strong></em></p>]]></Value>
      <Value Culture="en-us"><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>]]></Value>
    </bodyText>
    <headerImage>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "395a4d99-5948-4f68-940d-ebf5734c92d9",
    "mediaKey": "641bbca2-9b7a-4608-a6db-b0b82772b4b3"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "ec28c364-6b42-4580-9606-c52d1bf1b5e5",
    "mediaKey": "641bbca2-9b7a-4608-a6db-b0b82772b4b3"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a618d39793784326bd5c352a44de5de1"
      },
      {
        "contentUdi": "umb://element/4fbd85b8e52e4550946880ea18cbe764"
      },
      {
        "contentUdi": "umb://element/9b9f5a86cbfd4e9ca39a61049d291099"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7ede4d28-2f3e-4a9f-89d1-eb452af73b2d",
      "udi": "umb://element/a618d39793784326bd5c352a44de5de1",
      "content": "<p style=\"text-align: right;\"><span class=\"ryNqvb\">من المهم جدًا أن ينتبه العميل لعملية اشتقاق الدهون.</span></p>\n<p style=\"text-align: right;\"><span class=\"ryNqvb\">غالبًا ما يحدث أن يكره أي منا الملذات ويهرب ويطلق سراحها لنا بالكراهية ، هل تحصل على أكثر ما نقبله أننا نقود الكل؟<br><br></span></p>\n<p style=\"text-align: right;\">من المهم جدًا أن ينتبه العميل لعملية اشتقاق الدهون.</p>\n<p style=\"text-align: right;\">غالبًا ما يحدث أن يكره أي منا الملذات ويهرب ويطلق سراحها لنا بالكراهية ، هل تحصل على أكثر ما نقبله أننا نقود الكل؟<br><br></p>\n<p style=\"text-align: right;\">من المهم جدًا أن ينتبه العميل لعملية اشتقاق الدهون.</p>\n<p style=\"text-align: right;\">غالبًا ما يحدث أن يكره أي منا الملذات ويهرب ويطلق سراحها لنا بالكراهية ، هل تحصل على أكثر ما نقبله أننا نقود الكل؟</p>\n<p style=\"text-align: right;\"><span class=\"ryNqvb\"> </span></p>"
    },
    {
      "contentTypeKey": "7ede4d28-2f3e-4a9f-89d1-eb452af73b2d",
      "udi": "umb://element/9b9f5a86cbfd4e9ca39a61049d291099",
      "content": "<p style=\"text-align: right;\">من المهم جدًا أن ينتبه العميل لعملية اشتقاق الدهون.</p>\n<p style=\"text-align: right;\">غالبًا ما يحدث أن يكره أي منا الملذات ويهرب ويطلق سراحها لنا بالكراهية ، هل تحصل على أكثر ما نقبله أننا نقود الكل؟<br><br></p>\n<p style=\"text-align: right;\">من المهم جدًا أن ينتبه العميل لعملية اشتقاق الدهون.</p>\n<p style=\"text-align: right;\">غالبًا ما يحدث أن يكره أي منا الملذات ويهرب ويطلق سراحها لنا بالكراهية ، هل تحصل على أكثر ما نقبله أننا نقود الكل؟<br><br></p>\n<p style=\"text-align: right;\">من المهم جدًا أن ينتبه العميل لعملية اشتقاق الدهون.</p>\n<p style=\"text-align: right;\">غالبًا ما يحدث أن يكره أي منا الملذات ويهرب ويطلق سراحها لنا بالكراهية ، هل تحصل على أكثر ما نقبله أننا نقود الكل؟</p>\n<p style=\"text-align: right;\"> </p>"
    },
    {
      "contentTypeKey": "a8e0698b-5a68-4297-9070-d4854355e8e9",
      "udi": "umb://element/4fbd85b8e52e4550946880ea18cbe764",
      "image": "[\r\n  {\r\n    \"key\": \"616d6a18-860e-4999-8530-e0f425b640bf\",\r\n    \"mediaKey\": \"59d2b868-4896-4d0e-a414-94ea096ebc32\"\r\n  }\r\n]",
      "caption": "الإسراء",
      "link": "[{\"name\":\"الإسراء\",\"target\":\"_blank\",\"url\":\"https://ar.israa.edu.ps\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/29125898830e4801829107b7cd8e5dd2",
        "settingsUdi": "umb://element/a910b0ce0ca24ee7838318b4ce507d68"
      },
      {
        "contentUdi": "umb://element/0aa1a1c6c7a646fc8464d2f159b65b6e",
        "settingsUdi": "umb://element/8a4cac31b8a44a94a71d2a693b3df42c"
      },
      {
        "contentUdi": "umb://element/5c983415d95f4de69d5f3db18117e113",
        "settingsUdi": "umb://element/0662d886433e4401bfdcf70cababb37d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7ede4d28-2f3e-4a9f-89d1-eb452af73b2d",
      "udi": "umb://element/29125898830e4801829107b7cd8e5dd2",
      "content": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>\n<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>\n<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>"
    },
    {
      "contentTypeKey": "7ede4d28-2f3e-4a9f-89d1-eb452af73b2d",
      "udi": "umb://element/5c983415d95f4de69d5f3db18117e113",
      "content": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>\n<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>\n<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>"
    },
    {
      "contentTypeKey": "a8e0698b-5a68-4297-9070-d4854355e8e9",
      "udi": "umb://element/0aa1a1c6c7a646fc8464d2f159b65b6e",
      "image": "[\r\n  {\r\n    \"key\": \"616d6a18-860e-4999-8530-e0f425b640bf\",\r\n    \"mediaKey\": \"59d2b868-4896-4d0e-a414-94ea096ebc32\"\r\n  }\r\n]",
      "caption": "Israa",
      "link": "[{\"name\":\"Israa\",\"target\":\"_blank\",\"url\":\"https://ar.israa.edu.ps\"}]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "82870f88-0240-4670-bf41-d664e6829831",
      "udi": "umb://element/a910b0ce0ca24ee7838318b4ce507d68",
      "hide": "0"
    },
    {
      "contentTypeKey": "5cf2eb0f-f8b3-400c-b7a3-9b87c6b23185",
      "udi": "umb://element/8a4cac31b8a44a94a71d2a693b3df42c",
      "hide": "0"
    },
    {
      "contentTypeKey": "82870f88-0240-4670-bf41-d664e6829831",
      "udi": "umb://element/0662d886433e4401bfdcf70cababb37d",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <subTitle>
      <Value Culture="ar"><![CDATA[حامعة الإسراء]]></Value>
      <Value Culture="en-us"><![CDATA[Israa]]></Value>
    </subTitle>
    <title>
      <Value Culture="ar"><![CDATA[عن الإسراء]]></Value>
      <Value Culture="en-us"><![CDATA[About Israa]]></Value>
    </title>
    <umbracoNaviHide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>