<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e6d32a4-da67-4cd5-95bf-84e827b5049d" Alias="About Us" Level="2">
  <Info>
    <Parent Key="75058b09-b4d5-4f83-8421-48e33fbbc594">Home</Parent>
    <Path>/Home/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-07-10T23:27:39</CreateDate>
    <NodeName Default="About Us">
      <Name Culture="ar">من نحن</Name>
      <Name Culture="en-us">About Us</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="55406906-70bf-4dd3-b9f0-c0bb5b592a4c">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="ar"><![CDATA[<p style="text-align: center;"><em><strong>مرحباً بك في الإسراء</strong></em></p>]]></Value>
      <Value Culture="en-us"><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>]]></Value>
    </bodyText>
    <headerImage>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "395a4d99-5948-4f68-940d-ebf5734c92d9",
    "mediaKey": "641bbca2-9b7a-4608-a6db-b0b82772b4b3"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "ec28c364-6b42-4580-9606-c52d1bf1b5e5",
    "mediaKey": "641bbca2-9b7a-4608-a6db-b0b82772b4b3"
  }
]]]></Value>
    </headerImage>
    <subTitle>
      <Value Culture="ar"><![CDATA[حامعة الإسراء]]></Value>
      <Value Culture="en-us"><![CDATA[Israa]]></Value>
    </subTitle>
    <title>
      <Value Culture="ar"><![CDATA[عن الإسراء]]></Value>
      <Value Culture="en-us"><![CDATA[About Israa]]></Value>
    </title>
    <umbracoNaviHide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>