<?xml version="1.0" encoding="utf-8"?>
<Content Key="bab32141-9287-4b94-8c07-497bc55591f8" Alias="ahmad (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ahmad1</Path>
    <Trashed Parent="75058b09-b4d5-4f83-8421-48e33fbbc594">true</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2023-07-11T13:33:31</CreateDate>
    <NodeName Default="ahmad (2)">
      <Name Culture="ar">ahmad (2)</Name>
      <Name Culture="en-us">ahmad (2)</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="false">
      <Published Culture="ar">false</Published>
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template Key="3abe43c6-6a2f-4d2d-902c-d0a1a4c4c131">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="ar"><![CDATA[ahmad]]></Value>
      <Value Culture="en-us"><![CDATA[ahmad]]></Value>
    </bodyText>
    <headerImage>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </headerImage>
    <subTitle>
      <Value Culture="ar"><![CDATA[/ar/]]></Value>
      <Value Culture="en-us"><![CDATA[/ar/]]></Value>
    </subTitle>
    <title>
      <Value Culture="ar"><![CDATA[ahmad]]></Value>
      <Value Culture="en-us"><![CDATA[ahmad]]></Value>
    </title>
    <umbracoNaviHide>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>