<?xml version="1.0" encoding="utf-8"?>
<Content Key="3429f520-faa3-4526-9679-ddd891c97695" Alias="ahmad (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ahmad1</Path>
    <Trashed Parent="75058b09-b4d5-4f83-8421-48e33fbbc594">true</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-07-11T13:32:20</CreateDate>
    <NodeName Default="ahmad (1)">
      <Name Culture="ar">ahmad (1)</Name>
      <Name Culture="en-us">ahmad (1)</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="false">
      <Published Culture="ar">false</Published>
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template Key="c977ae47-c6ac-499b-b19c-fc4806b4e93c">HomePage</Template>
  </Info>
  <Properties>
    <footerSocialLinks>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </footerSocialLinks>
    <headerImage>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </headerImage>
    <navigationItem>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </navigationItem>
    <subTitle>
      <Value Culture="ar"><![CDATA[/ar/]]></Value>
      <Value Culture="en-us"><![CDATA[/ar/]]></Value>
    </subTitle>
    <title>
      <Value Culture="ar"><![CDATA[ahmad]]></Value>
      <Value Culture="en-us"><![CDATA[ahmad]]></Value>
    </title>
  </Properties>
</Content>