<?xml version="1.0" encoding="utf-8"?>
<Content Key="37a30cb4-2362-4edb-82ed-bfa55d1fb33f" Alias="Blog" Level="2">
  <Info>
    <Parent Key="75058b09-b4d5-4f83-8421-48e33fbbc594">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2023-07-11T00:02:06</CreateDate>
    <NodeName Default="Blog">
      <Name Culture="ar">مقالات</Name>
      <Name Culture="en-us">Blog</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3abe43c6-6a2f-4d2d-902c-d0a1a4c4c131">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="ar"><![CDATA[<p style="text-align: center;"><strong><em>هنا يمكنك قراءة مقالات الإسراء</em></strong></p>]]></Value>
      <Value Culture="en-us"><![CDATA[<p style="text-align: center;">You Can Read Israa Blogs From here</p>]]></Value>
    </bodyText>
    <headerImage>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "92d65586-bd41-4a0b-905d-35761b3b5a50",
    "mediaKey": "ff3115ef-33d6-4c10-af26-5a0021c83afb"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "ff479499-0abc-4051-9bc6-2cf0cd943801",
    "mediaKey": "ff3115ef-33d6-4c10-af26-5a0021c83afb"
  }
]]]></Value>
    </headerImage>
    <subTitle>
      <Value Culture="ar"><![CDATA[مقالات الإسراء]]></Value>
      <Value Culture="en-us"><![CDATA[Israa Blogs]]></Value>
    </subTitle>
    <title>
      <Value Culture="ar"><![CDATA[مقالات]]></Value>
      <Value Culture="en-us"><![CDATA[Blog]]></Value>
    </title>
    <umbracoNaviHide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>