<?xml version="1.0" encoding="utf-8"?>
<Content Key="1672805b-087b-4910-bd05-7ffdf87bd0a4" Alias="Contact" Level="2">
  <Info>
    <Parent Key="75058b09-b4d5-4f83-8421-48e33fbbc594">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-07-11T00:01:54</CreateDate>
    <NodeName Default="Contact">
      <Name Culture="ar">تواصل معنا</Name>
      <Name Culture="en-us">Contact</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="04d53b97-cadb-4a3b-983a-ec7b2f093ef7">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="ar"><![CDATA[<p style="text-align: center;"><em><strong>مرحباً بك في صفحة التواصل</strong></em></p>]]></Value>
      <Value Culture="en-us"><![CDATA[<p style="text-align: center;">Contact info@Israa.edu.ps</p>]]></Value>
    </bodyText>
    <headerImage>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "fb420533-308a-43ba-a220-fd089912df26",
    "mediaKey": "27be1cc4-4958-4460-b99a-9587e2205707"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "f18fff65-61be-4908-9a11-d2a01c177fdf",
    "mediaKey": "27be1cc4-4958-4460-b99a-9587e2205707"
  }
]]]></Value>
    </headerImage>
    <subTitle>
      <Value Culture="ar"><![CDATA[يمكن التواصل على البريد التالي]]></Value>
      <Value Culture="en-us"><![CDATA[Contact info@Israa.edu.ps  ]]></Value>
    </subTitle>
    <title>
      <Value Culture="ar"><![CDATA[تواصل معنا]]></Value>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
    </title>
    <umbracoNaviHide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>