<?xml version="1.0" encoding="utf-8"?>
<Content Key="75058b09-b4d5-4f83-8421-48e33fbbc594" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-07-10T21:20:33</CreateDate>
    <NodeName Default="Home">
      <Name Culture="ar">الرئيسية</Name>
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="c977ae47-c6ac-499b-b19c-fc4806b4e93c">HomePage</Template>
  </Info>
  <Properties>
    <footerSocialLinks>
      <Value Culture="ar"><![CDATA[[
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://facebook.com/"
  },
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/"
  },
  {
    "network": "instagram",
    "name": "Instagram",
    "url": "https://instagram.com/"
  },
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://linkedin.com/in/"
  },
  {
    "network": "mastodon",
    "name": "Mastodon",
    "url": "https://mastodon.social/"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://youtube.com/"
  },
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://facebook.com/"
  },
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/"
  },
  {
    "network": "instagram",
    "name": "Instagram",
    "url": "https://instagram.com/"
  },
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://linkedin.com/in/"
  },
  {
    "network": "mastodon",
    "name": "Mastodon",
    "url": "https://mastodon.social/"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://youtube.com/"
  },
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/"
  }
]]]></Value>
    </footerSocialLinks>
    <headerImage>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "f1955298-ce27-4cf4-b78c-3b98ae92fac6",
    "mediaKey": "59d2b868-4896-4d0e-a414-94ea096ebc32"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "df87bd12-633f-4118-9562-106fdc83af1b",
    "mediaKey": "59d2b868-4896-4d0e-a414-94ea096ebc32"
  }
]]]></Value>
    </headerImage>
    <navigationItem>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9982fd6bf6f64dc582fc47054b839652"
      },
      {
        "contentUdi": "umb://element/cb440cd0b60d4e0da0812f263d35d9fb"
      },
      {
        "contentUdi": "umb://element/3d09dea534ca4cf6b05da2b52787e47e"
      },
      {
        "contentUdi": "umb://element/8fd4a53301a0403cbcdb63c4335dee80"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1f74cd0f-9617-47c1-ad65-fa3778b03f42",
      "udi": "umb://element/9982fd6bf6f64dc582fc47054b839652",
      "title": "الرئيسية",
      "link": "[{\"name\":\"الرئيسية\",\"udi\":\"umb://document/75058b09b4d54f83842148e33fbbc594\"}]",
      "childLinks": null
    },
    {
      "contentTypeKey": "1f74cd0f-9617-47c1-ad65-fa3778b03f42",
      "udi": "umb://element/cb440cd0b60d4e0da0812f263d35d9fb",
      "title": "تواصل معنا",
      "link": "[{\"name\":\"تواصل معنا\",\"udi\":\"umb://document/1672805b087b4910bd057ffdf87bd0a4\"}]",
      "childLinks": null
    },
    {
      "contentTypeKey": "1f74cd0f-9617-47c1-ad65-fa3778b03f42",
      "udi": "umb://element/3d09dea534ca4cf6b05da2b52787e47e",
      "title": "من نحن",
      "link": "[{\"name\":\"من نحن\",\"udi\":\"umb://document/4e6d32a4da674cd595bf84e827b5049d\"}]",
      "childLinks": null
    },
    {
      "contentTypeKey": "1f74cd0f-9617-47c1-ad65-fa3778b03f42",
      "udi": "umb://element/8fd4a53301a0403cbcdb63c4335dee80",
      "title": "المقالات",
      "link": "[{\"name\":\"مقالات\",\"udi\":\"umb://document/37a30cb423624edb82edbfa55d1fb33f\"}]",
      "childLinks": "[{\"name\":\"مقالات\",\"udi\":\"umb://document/37a30cb423624edb82edbfa55d1fb33f\"},{\"name\":\"الأكثر شهرة\",\"url\":\"/blog/\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3e61e0594e8d43f7bb2664f1cc88ce5c"
      },
      {
        "contentUdi": "umb://element/2aaa4ef31ce448d0b3944c3b1cfff468"
      },
      {
        "contentUdi": "umb://element/a9b4308b21ea4de884bbf7714fbaf4e6"
      },
      {
        "contentUdi": "umb://element/7433d0c5609a4d7ebf4bd3c03dcc9681"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1f74cd0f-9617-47c1-ad65-fa3778b03f42",
      "udi": "umb://element/3e61e0594e8d43f7bb2664f1cc88ce5c",
      "title": "Home",
      "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/75058b09b4d54f83842148e33fbbc594\"}]",
      "childLinks": null
    },
    {
      "contentTypeKey": "1f74cd0f-9617-47c1-ad65-fa3778b03f42",
      "udi": "umb://element/2aaa4ef31ce448d0b3944c3b1cfff468",
      "title": "About Israa",
      "link": "[{\"name\":\"About Us\",\"udi\":\"umb://document/4e6d32a4da674cd595bf84e827b5049d\"}]",
      "childLinks": null
    },
    {
      "contentTypeKey": "1f74cd0f-9617-47c1-ad65-fa3778b03f42",
      "udi": "umb://element/a9b4308b21ea4de884bbf7714fbaf4e6",
      "title": "Blog",
      "link": "[{\"name\":\"Blog\",\"udi\":\"umb://document/37a30cb423624edb82edbfa55d1fb33f\"}]",
      "childLinks": "[{\"name\":\"Blog\",\"udi\":\"umb://document/37a30cb423624edb82edbfa55d1fb33f\"},{\"name\":\"Most Popular\",\"url\":\"/blog#test1\"}]"
    },
    {
      "contentTypeKey": "1f74cd0f-9617-47c1-ad65-fa3778b03f42",
      "udi": "umb://element/7433d0c5609a4d7ebf4bd3c03dcc9681",
      "title": "Contact Us",
      "link": "[{\"name\":\"Contact\",\"udi\":\"umb://document/1672805b087b4910bd057ffdf87bd0a4\"}]",
      "childLinks": null
    }
  ],
  "settingsData": []
}]]></Value>
    </navigationItem>
    <subTitle>
      <Value Culture="ar"><![CDATA[مرحباً بك]]></Value>
      <Value Culture="en-us"><![CDATA[Welcome To Israa UN]]></Value>
    </subTitle>
    <title>
      <Value Culture="ar"><![CDATA[الإسراء]]></Value>
      <Value Culture="en-us"><![CDATA[Israa]]></Value>
    </title>
  </Properties>
</Content>