<?xml version="1.0" encoding="utf-8"?>
<Content Key="490c2beb-dca6-43ba-89c7-7a1f388c1c63" Alias="test (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/test1</Path>
    <Trashed Parent="75058b09-b4d5-4f83-8421-48e33fbbc594">true</Trashed>
    <ContentType>someContent</ContentType>
    <CreateDate>2023-07-02T03:32:03</CreateDate>
    <NodeName Default="test (1)" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule>
      <ContentSchedule>
        <Culture></Culture>
        <Action>Release</Action>
        <Date>2023-06-29T00:00:00</Date>
      </ContentSchedule>
    </Schedule>
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[test]]></Value>
    </description>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <link>
      <Value><![CDATA[]]></Value>
    </link>
    <title>
      <Value><![CDATA[test]]></Value>
    </title>
  </Properties>
</Content>