<?xml version="1.0" encoding="utf-8"?>
<Content Key="37f4eb27-118d-4bcc-9f73-047756a5dd64" Alias="Test" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Test</Path>
    <Trashed Parent="75058b09-b4d5-4f83-8421-48e33fbbc594">true</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2023-07-11T13:33:30</CreateDate>
    <NodeName Default="Test">
      <Name Culture="ar">Test</Name>
      <Name Culture="en-us">Test</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="false">
      <Published Culture="ar">false</Published>
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template Key="3abe43c6-6a2f-4d2d-902c-d0a1a4c4c131">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="ar"><![CDATA[Test]]></Value>
      <Value Culture="en-us"><![CDATA[Test]]></Value>
    </bodyText>
    <headerImage>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </headerImage>
    <subTitle>
      <Value Culture="ar"><![CDATA[/test/]]></Value>
      <Value Culture="en-us"><![CDATA[/test/]]></Value>
    </subTitle>
    <title>
      <Value Culture="ar"><![CDATA[Test]]></Value>
      <Value Culture="en-us"><![CDATA[Test]]></Value>
    </title>
    <umbracoNaviHide>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>